<h1>Listing Recipes</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for recipe <- @recipes do %>
    <tr>
      <td>
      </td>
      <td>
        <%= recipe.title %>
      </td>
      <td>
        <span><%= link "Show", to: Routes.recipe_path(@conn, :show, recipe.id) %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

