<h1>Show Recipe</h1>

<ul>
  <li><strong>Title</strong> - <%= @recipe.title %></li>
  <li><strong>Description</strong> - <%= @recipe.description %></li>
</ul>

<span><%= link "Back", to: Routes.recipe_path(@conn, :index) %></span>
